#Secrets

Infrastructure_eks_cluster_accessKey=<your key>
Infrastructure_eks_cluster_accessSecret=<your secret>
Infrastructure_eks_cluster_apiServerURL=<your endpoint>
Infrastructure_eks_cluster_name=<your cluster name>

Environments_eks_petclinic_url=petclinic.3.140.64.69.xip.io
